.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 0;
}

.list-item {
    width: 32%;
    margin: 0 2% 20px 0;
    padding: 20px;
    background-color: rgb(0, 175, 228);
    color: #ffffff;
    font-family: "sans-serif", Helvetica, serif;
    border-radius: 12px;
}

.list-item:nth-child(3n) {
    margin: 0 0 20px 0;
}

.list-item__title {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    font-size: 32px;
}

.property {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.property__text::first-letter {
    text-transform: uppercase;
}

.property__value {
    font-weight: bold;
}

@media screen and (max-width: 980px) {
    .list-item {
        width: 48%;
        margin: 0 4% 20px 0;
        padding: 15px;
    }

    .list-item:nth-child(3n) {
        margin: 0 4% 20px 0;
    }

    .list-item:nth-child(even) {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .list {
        justify-content: center;
    }

    .list-item {
        max-width: 600px;
        width: 100%;
        padding: 20px;
    }

    .list-item, .list-item:nth-child(3n), .list-item:nth-child(even) {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}